.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 35px;
  height: 2px;
  background: black;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background: black;
  border-radius: 3px;
  padding-bottom: 2px;
  box-shadow: 0 1px 3px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-12px);
}
.menu-btn__burger::after {
  transform: translateY(12px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*on first page with fullscreen background*/
body.page-id-3235 .menu-btn__burger { 
  background: white; }

body.page-id-3235 .menu-btn__burger::before { 
  background: white; }

body.page-id-3235 .menu-btn__burger::after { 
  background: white; }

/* on Desktop */
@media screen and (min-width: 768px) {
  .menu-btn .menu-btn__burger {
    display: none;
 	}
}