.nav-link {
    color: #000;
    padding-left: 10rem;
    padding-right: 10rem;
}

body.page-id-3235 a { color: white!important; }

//Link hover effect
@media only screen and (min-width: 768px) {
.nav-item {
    position: relative;

    a {
        font-size: 15px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;

        &:after {
            content: '';
            position: absolute;
            bottom: 20%;
            left: 10%;
            width: 80%;
            height: 2px;
            background-color: $color__link-hover;
            transform: scaleX(0);
            transform-origin: bottom left;
    
            transition: transform 0.3s;
        }
    
        &:hover {
            &:after {
                transform: scaleX(1);
            }
    }

}
}
}